*{
    margin: 0;
    padding: 0;
    font-family: 'Poopins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.alert-msg{
    display: flex;
    margin-left: 1110px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    width: 220px;
    height: 60px;
    border-radius: 5px;
    display: none;
}

.alert-msg img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #ffff;
    margin: 100px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3C3D37;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 35px;
    margin-bottom: 5px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #fff;
}

button{
    border: none;
    outline: none;
    background: #4379F2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 16px 50px;
    border-radius: 40px;
}


ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}

ul li::before{
    content: '' ;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    color: #ffff;
    top: 6px;
    left: 8px;
}

ul li.checked{
    color: #000;
    text-decoration:line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #edeef0;
}
